.post-card{
    flex: 1 1 300px;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    min-height: 300px;
    background: #fff 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
    width: 45%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5%;
    margin-bottom: 50px;
}

.post-card:hover{
    box-shadow: 15px 15px 15px rgba(39,44,49,.06), 15px 15px 15px rgba(39,44,49,.03);
}

.post-card-container{
    padding: 20px;
}

.post-card-photo{
    position: relative;
    top: -200px;
}

.post-card-photo img{
    position: absolute;
    max-width: 100%;
    max-height: 200px;
    right: 0;
    top: -15px;
}

.post-card-title-container{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    z-index: 10;
    background: -webkit-linear-gradient(335deg, #fecd35 60%, transparent 40%);
    background: -o-linear-gradient(335deg, #fecd35 60%, transparent 40%);
    background: linear-gradient(115deg, #fecd35 60%, transparent 40%);
    position: relative;
    top: 0;
    height: 200px;
}

.post-card-title{
    padding: 20px;
    max-width: calc(60% - 40px);
}

.post-card-category{
    color: #8a8a8a;
    font-weight: bold;
    margin-bottom: 7px;
}

a.no-style{
    text-decoration: none;
    color: inherit;
}

.post-card-header{
    max-height: 200px;
    height: 200px;
}